<div class="d-flex flex-column align-items-center">
  <div class="content-titles">
    <h1 class="fw-bold custom-title">Certificados gerados</h1>
    <p class="custom-subtitle mb-4">Visualize todos os certificados gerados</p>
  </div>

  @if(certificates.length == 0) {
  <div class="custom-card w-100">
    <i class="ph ph-certificate"></i>
    <div class="custom-warning-titles">
      <h3 class="card-title">Nenhum certificado gerado</h3>
      <p class="card-subtitle">Gere certificados para consultar o histórico</p>
    </div>
    <app-secondary-button routerLink="/certificados/novo" textButton="Gerar certificado"></app-secondary-button>
  </div>
  }

  @if (certificates.length > 0) {
  <div class="list-certificate w-100">
    @for (certificate of certificates; track $index) {
    <app-item-certificate [StudentName]="certificate.name" [issueDate]="certificate.issueDate"
      [id]="certificate.id"></app-item-certificate>
    }
  </div>
  }

</div>
